body {
}
table {
  border: 1px solid #333;

}
#p1-table{
  width:100%;
}
#paragraf1{
  width:100%;
}
.check_header {
  width:10px;
  border: 1px solid;
}
#p1-chess td {
  width: 60px;
  height: 60px;
}

