body {
}
#chess_container{
  display: flex;
}
#out_panel{
   font-size: 1.5em;
   padding: 20px;
}
table {
  border: 1px solid #333;

}
#p1-table{
  width:100%;
}
#paragraf1{
  width:100%;
}
.check_header {
  width:10px;
  border-right: 1px solid;
}
#p1-chess td {
  width: 60px;
  height: 60px;
}
#p1-chess th {
  	border-bottom: 1px solid;
}
#select_cell {
   border: 2px solid red;
}

